.header {
  padding-top: rem-calc(10);
  padding-bottom: 0;
  //border-bottom: 1px solid $lighter_gray;
  position: fixed;
  width: 100%;
  background-color: $white;
  z-index: 2;
  box-shadow: 0 5px 6px -6px #575757;
}
.header *::selection {
  background-color: black;
}
.logo {
  h1 {
    font-size: 0;
  }

  a {
    display: inline-block;
  }

  img {
    width: rem-calc(160);
    height: auto;
    object-fit: contain;
  }

  @include breakpoint(small down) {
    max-width: 50%;
  }
}


.top-menu {
  width: 100%;
  max-height: 85px;
  background-color: #2e2e2e;
  text-align: center;
  padding: 1rem;
  margin-top: -13px;
}

.top-menu img {
  max-width: 150px !important;
}

.top-logo-text {
  color: #ffffff;
  font-size: 15.6px;
  margin-top: 5px;
  font-family: 'Lato', sans-serif !important;
}

//@media screen and(max-width: 450px) {
//  .top-logo-text {
//    font-size: 12.6px;
//    margin-top: 3px;
//  }
//}

//#menu-top-menu-2 {
//  background-color: #e3c424;
//  justify-content: space-between;
//}


.top-bar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: $main_color;
  position: relative;

}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: $main-color;
  min-width: 480px;
  height: 58px;
  z-index: 1;
  right: 0;
  top: 38px;
  //padding: 12px;
}
.dropdown-menu a {
  color: $secondary_text;
  font-family: 'Lato', sans-serif;
  font-size: 16.8px;
}
.dropdown-hover {
  padding-top: 12px;
  padding-left: 12px;
  width: 50%;
}

.dropdown-hover:hover {
  background-color: #6e6e6e;
  height: 100%;
}
.dropdown-hover:hover .dropdown-item {
  color: $main-color;
}

//.dropdown-item::before {
//  content: '\f39e';
//  color: $secondary_text;
//  font-family:"Font Awesome 6 Free";
//  font-size: 30px;
//  font-weight:900;
//}
.fa-brands .fa-facebook-f {
  color: $secondary_text;
  width: 20px;

}
.dropdown-item i {
  padding-right: 25px;
  padding-left: 10px;
  padding-top: 8px;
}

.top-bar ul {
  margin-left: 0;
}
.top-bar-item{
  padding: 6px 24px;
  font-family: 'Lato', sans-serif !important;
  font-size: 14px;
  color: #6e6e6e;
}

.top-bar-item a i {
  font-family:"Font Awesome 6 Free" !important;
  font-size: 16.8px !important;
  font-weight:900;
  color: $secondary_text;
}

.top-bar-list li:last-child::after {
  content: '\f078';
  color: $secondary_text;
  font-family:"Font Awesome 6 Free";
  font-size: 10px;
  font-weight:900;
  margin-left: 10px;
}


.main-menu-box {
  display: flex;
  justify-content: space-between;
  //padding-bottom: 15px;
}

.l-box img {
  padding: 1.5%;
  margin: 4px 0;
  width: 500px;
}

.main-menu-text {
  font-family: 'Lato', sans-serif !important;
  font-size: 19px;
  text-align: right;
  margin-right: 20px;
  color: #333;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.r-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;

  @media screen and (min-width: 801px) and (max-width: 2560px) {
    padding-right: 0;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }

  @media screen and (max-width: 800px) {
    padding-right: 30px !important;
    flex-direction: unset !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

.r-box a img {
  min-width: 150px;
  height: 50px;
  float: right;
  margin-right: 20px;
  margin-top: -17px;
}


.header-menu.menu .submenu li>a {
  padding-top: 15px;
}

.phone-box {
  display: none;
}
.phone-box a i {
  font-family:"Font Awesome 6 Free" !important;
  font-size: 14.2px !important;
  font-weight:900;
  color: $secondary_text;

  &:before{
    margin-right: 10px;
    font-family:"Font Awesome 6 Free" !important;
    font-size: 22.2px !important;
    font-weight:900;
  }
}
.txt-box {
  background-color: $medium_gray;
  display: none;
}
.phone-box a  {
  padding: 24px 12px 10px 12px;
  width: 100%;
  display: block;
  text-align: center;
}
.txt-box h3 {
  padding: 24px 0 12px 0;
}
.txt-box h3{
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.68px;
  line-height: 36px;
  color: $white;
  text-align: center;
}
.header-menu {
  //width: fit-content;
  //float: right;
  //border-bottom: 1px solid $lighter_gray;
  //border-bottom: 1px solid $lighter_gray;
  padding-bottom: 20px;
  margin-top: 30px;
}
//.r-box a {
//  text-align: right;
//}

//.dropdown-content {
//  display: none;
//  position: absolute;
//  right: 0;
//  background-color: #e3c424;
//  min-width: 480px;
//  min-height: 116px;
//  z-index: 1;
//}
//.dropdown-content a::before {
//  content: "\f082";
//
//}


.lines {
  display: none;
}

.fa-square-plus {
  display: none;
}
//.fa-phone:before {
//  position: absolute;
//  left: 20px;
//}
//.top-bar-item a i{
//  padding-left: 20px;
//}

.header-menu .has-dropdown::after {
  content: '\f107';
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 8px;
  color: $secondary_text;
  position: absolute;
  top: 8px;
  left: 90px;
}


#menu-item-67::after {
  //content: '\f063';
  //color: #ababab;
  //font-family: "Font Awesome 6 Free";
  //font-size: 25px;
  //position: absolute;
}

@media screen and (max-width: 568px) {
  .txt-box h3 {
    font-size: 16.8px;
  }
}
@media screen and(min-width: 769px) and (max-width: 800px) {
  .phone-box {
    margin-top: 224px !important;
  }
}
@media screen and(min-width: 625px) and (max-width: 768px) {
  .phone-box {
    margin-top: 185px !important;
  }
}

@media screen and(min-width: 586px) and (max-width: 624px) {
  .phone-box {
    margin-top: 199px !important;
  }
}
@media screen and(min-width: 424px) and (max-width: 585px) {
  .phone-box {
    margin-top: 199px !important;
  }
}
@media screen and (max-width: 800px){
  .phone-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin-top: 220px;
    background-color: $white;
  }

  .txt-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-bar {
    display: none;
  }

  //.side-menu {
  //  display: block;
  //}
  .main-menu-text  {
    display: none;
  }
  .r-box a img {
    display: none;
  }

  .header-menu {
    display: none;
    //float: right;
    //margin-top: -100px;
  }

  .lines {
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    font-size: 31px;
    height: 51px;
    padding: 0.7rem 1rem;
    background-color: $dark_gray;
    color: $white;
    cursor: pointer;
    @media screen and (max-width: 425px) {
      font-size: 25px;
    }
  }

  .header-menu1 {
    display: block;
    margin-top: 100px;
  }
  .header-menu1 li {
    padding: 15px 0;
  }

  .header-menu1 li a {
    color: #ababab !important;
    line-height: 2;
    font-family: 'Crete Round', serif;
    font-size: 14.5px;
    letter-spacing: 1px;
  }

  .header-menu1 li a:hover {
    color: #363636 !important;
  }

  .header-menu1 li a:active {
    color: #363636 !important;
  }

  .header-menu1 .submenu-toggle {
    display: none;
    background-color: red;
  }

  .header-menu1 .submenu {
    position: relative;
    border-left: 1px solid #ababab;
    margin-left: 15px;
    padding-left: 10px;
  }
  //.submenu-toggle::after {
  //  display: none;
  //}
  .modal {
    background-color: $white;
    width: 51%;
    margin-right: 0;
    margin-top: 0;
    height: 100%;
    border: none;
  }

  .modal-new{
    position: absolute;
    z-index: 990;
    background: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 50%;
    height: 100%;
    padding: 20px;
    @include breakpoint(small down) {
      width: 100%;
    }
    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, .8);
    }
  }

  #modal-new-2{
    background: white;
    position: fixed;
    top: 24px;
    left: 24px;
    right: 24px;
    bottom: 24px;
    z-index: 213;
  }

  .modal::backdrop {
    //background: rgb(0, 0, 0 / .3);
    background-color: rgba(0, 0, 0, 0.70);
  }

  .main-menu-text1 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 19.2px;
    line-height: 28.8px;
    color: #333;
    text-align: right;
    margin-top: 50px;
    font-weight: 600;
  }
  .close-modal {
    font-size: 34px ;
    float: right;
    margin: 20px 12px;
    cursor: pointer;
    color: #666666;
  }

  .google-review img {
    min-width: 150px;
    height: 50px;
    float: right;
  }

  .main-menu-box {

    //box-shadow: 0 5px 6px -6px $secondary_text;
  }

  .fa-square-plus {
    display: inline-block;
    font-family: "Font Awesome 6 Free";
    font-size: 29px;
    padding: 0.7rem 1rem;
    background-color: $dark_gray;
    margin-right: 15px;
  }
  .fa-square-plus::before {
    color: $white;
  }

  .close-modal2 {
    font-size: 34px;
    float: right;
    cursor: pointer;
    margin-top: -55px;
  }
  .close-modal2::before {
    color: $white;
  }
  .modal2-header-div {
    background-color: $dark_gray;
    height: 62px;
    padding: 15px 10px;
  }
  .modal2-header {
    font-family: 'Oswald', sans-serif;
    font-size: 19.2px;
    color: $white;
    font-weight: 400;
    line-height: 38.4px;

  }
  .fb-div {
    border-bottom: 1px solid $dark_gray;
    padding: 10px;
  }
  .ff {
    font-size: 28px;
  }

  .phone-box a i:before {
    position: relative;
    top: 3px;
  }
}

@media screen and (min-width: 801px) and (max-width: 840px) {
  .l-box {
    width: 38% !important;
  }
}

@media screen and (max-width: 425px) {
  .top-menu {
    max-height: 102px !important;
  }
  .l-box {
    padding: 15px 0;
  }

  .phone-box {
    margin-top: 193px !important;
  }
}
@media screen and (max-width: 385px) {
  .txt-box h3 {
    padding-right: 3px ;
  }
}
@media screen and (max-width: 382px){
  .r-box {
    padding: 15px 0;
    display: block ;

  }
  .phone-box {
    margin-top:  225px !important;
  }
}
@media screen and (min-width: 625px) and (max-width: 768px) {
  .l-box img {
    width: 343px;
    height: 96px;
  }
}

//@include breakpoint(small down) {
//  /* TOP BAR Mobile STYLING */
//
//  .header {
//    padding-bottom: 0;
//  }
//
//  .header__logo-box {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    padding-right: rem-calc(15);
//    padding-bottom: rem-calc(10);
//    padding-left: rem-calc(15);
//  }
//
//  .menu-grid-container {
//    padding-right: 0;
//    padding-left: 0;
//
//    .grid-margin-x {
//      margin-right: 0;
//      margin-left: 0;
//
//      .cell {
//        width: 100%;
//        margin-right: 0;
//        margin-left: 0;
//      }
//    }
//  }
//
//  .title-bar {
//    line-height: rem-calc(45);
//
//    .menu-icon {
//      padding: 0;
//      border: none;
//      background-color: transparent;
//      -webkit-tap-highlight-color: transparent !important;
//
//      @include menu-icon($main-color, $main-color, rem-calc(30), rem-calc(24), rem-calc(3));
//    }
//
//  }
//
//  .top-bar {
//    display: none;
//    background: $main-color; /* menu list background color */
//  }
//
//  .header-menu {
//    background: transparent;
//
//    li {
//      > a {
//        background: $main-color; /* menu item background color */
//        color: #6e6e6e; /* menu item text color */
//        line-height: rem-calc(45);
//
//        &:focus {
//          &, & + .submenu-toggle {
//            background: darken($main-color, 5); /* menu item background color on hover */
//          }
//        }
//
//        &.button {
//          padding: $button-padding;
//          display: inline-block;
//        }
//      }
//
//      &.current-menu-item, &.current_page_ancestor, &.current_page_parent {
//        > a, .submenu-toggle {
//          background: lighten($main-color, 5); /* current/parent menu item background color */
//        }
//      }
//
//      &[aria-expanded='true'] {
//        > a, .submenu-toggle {
//          background: darken($main-color, 3); /* menu item background color on open dropdown */
//        }
//      }
//
//      &.has-button {
//        padding-top: rem-calc(4);
//        padding-bottom: rem-calc(4);
//      }
//    }
//
//    .submenu-toggle {
//      padding: 0;
//    }
//
//    .submenu {
//      a {
//        padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
//      }
//
//      .submenu {
//        a {
//          padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
//        }
//      }
//    }
//  }
//}

@include breakpoint(medium) {
  /* TOP BAR STYLING */


  .header-menu.menu {
    /* Align menu items to the right */
    align-items: center;
    justify-content: flex-end;

    /* Align menu items to the center */
    // justify-content: center;

    > li {
      > a {
        /* Style for first level menu links */

      }
    }

    li {
      > a {
        /* Regular menu item style */
        color: #ababab;
        line-height: 2;
        font-family: 'Crete Round', serif;
        font-size: 14.5px;
        letter-spacing: 1px;


        &:hover, &:focus {
        	/* menu item style on hover */
        	background: transparent;
        	color: $black;
        }

        &.button {
          padding: $button-padding;
          color: $button-color;
          line-height: 1;
        }
      }

      &.current-menu-item, &.current_page_ancestor, &.current_page_parent {
        > a {
          /* Style of Current page and Ancestor page */
          background: transparent;
          color: $black;
        }
      }

      &.has-dropdown {
        > a {
          /* Style of item with dropdown */
        }
      }

      //&.is-active > a {
      //	/* Parent link style on dropdown hover */
      //	background: invert($main-color);
      //	color: $main-color;
      //}
    }

    /* Dropdown item styling */

    .submenu {
      z-index: 11;
      display: none;

      &.js-dropdown-active {
        display: block;
        width: max-content;
      }

      li {
        > a {
          /* Regular link in dropdown */
          background: $white;
          color: #ababab;
          line-height: 1.5;

          &:hover {
          	/* Dropdown link on hover */
          	color: $black;
          }
        }

        &.current-menu-item, &.current_page_ancestor, &.current_page_parent {
          > a {
            //background: lighten($main-color, 10);
            //color: #ababab;
          }
        }
      }

      .submenu {
        /* Styles for 2nd level dropdown menu */
      }
    }
  }
}

@include breakpoint(medium only) {
  .header-menu.menu {
    > li {
      > a {
        /* First level menu links styles to fix responsive lack of space */

      }
    }
  }
}

@include breakpoint(large only) {
  .header-menu.menu {
    > li {
      > a {
        /* First level menu links styles to fix responsive lack of space */

      }
    }
  }
}